<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.HotelMapper">
    <select id="selectList" resultType="HotelDTO">
        SELECT *
        FROM hotel
        INNER JOIN hotel_description
        ON hotel.id = hotel_id
    </select>
    <select id="selectOne" parameterType="int" resultType="HotelDTO">
        SELECT *
        FROM hotel
        INNER JOIN hotel_description
        ON hotel.id = hotel_id
        WHERE hotel.id = #{id}
    </select>
    <insert id="insert" parameterType="HotelDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hotel(name, tel, content, member_id)
        VALUES(#{name}, #{tel}, #{content}, #{memberId})
    </insert>
    <update id="update" parameterType="HotelDTO">
        UPDATE hotel
        SET name = #{name},
        tel = #{tel},
        content = #{content}
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM hotel
        WHERE hotel.id = #{id}
    </delete>
    <insert id="insertHotelImg" parameterType="HotelImgDTO">
        INSERT INTO hotel_images (hotel_id, image_url)
        VALUES (#{hotelId}, #{imageUrl})
    </insert>
</mapper>