<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.HotelDescriptionMapper">
    <select id="selectOne" parameterType="int" resultType="HotelDescriptionDTO">
        SELECT *
        FROM hotel_description
        WHERE hotel_id = #{id}
    </select>
    <insert id="insert" parameterType="HotelDescriptionDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hotel_description(hotel_id, swimming_pool, parking, restaurant, smoking, laundry_facilities, fitness_center)
        VALUES (
        #{hotelId},
        CASE WHEN #{swimmingPool} THEN 1 ELSE 0 END,
        CASE WHEN #{parking} THEN 1 ELSE 0 END,
        CASE WHEN #{restaurant} THEN 1 ELSE 0 END,
        CASE WHEN #{smoking} THEN 1 ELSE 0 END,
        CASE WHEN #{laundryFacilities} THEN 1 ELSE 0 END,
        CASE WHEN #{fitnessCenter} THEN 1 ELSE 0 END
        )
    </insert>
    <update id="update" parameterType="HotelDescriptionDTO">
        UPDATE hotel_description
        SET (CASE WHEN #{swimmingPool} THEN 1 ELSE 0 END,
        CASE WHEN #{parking} THEN 1 ELSE 0 END,
        CASE WHEN #{restaurant} THEN 1 ELSE 0 END,
        CASE WHEN #{smoking} THEN 1 ELSE 0 END,
        CASE WHEN #{laundryFacilities} THEN 1 ELSE 0 END,
        CASE WHEN #{fitnessCenter} THEN 1 ELSE 0 END)
        WHERE hotel_id = #{hotelId}
    </update>
</mapper>