<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.LocationMapper">
    <insert id="insert" parameterType="locationDTO">
        INSERT INTO location
        (hotel_id, address, sido, sigungu, zonecode buildingName)
        VALUES (#{hotelId}, #{address}, #{sido}, #{sigungu}, #{zonecode}, #{buildingName})
    </insert>
    <update id="update" parameterType="locationDTO">
        UPDATE location SET
        address=#{address}, sido=#{sido}, sigungu=#{sigungu}, zonecode=#{zonecode}, buildingName=#{buildingName}
        WHERE hotel_id= #{hotelId}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM location
        WHERE hotel_id= #{id}
    </delete>
    <select id="selectSido" resultType="String">
        SELECT sido FROM location
        GROUP BY sido
    </select>
    <select id="selectSigungu" resultType="String" parameterType="String">
        SELECT sigungu FROM location
        WHERE sido=#{sido}
    </select>

</mapper>