<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ReservationMapper">
    <select id="selectAll" resultType="reservationDTO" parameterType="int">
        SELECT * FROM reservation
        WHERE member_id = #{member_id}
    </select>

    <select id="selectAllAdmin" resultType="reservationDTO">
        SELECT * FROM reservation
    </select>

    <select id="selectAllRegistrant" resultType="reservationDTO" parameterType="int">
        SELECT reservation.id, reservation.member_id, reservation.check_in, reservation.check_out, reservation.confirmed, reservation.status, reservation.room_id, reservation.member_id FROM room
        INNER JOIN hotel on hotel_id = hotel.id
        INNER JOIN member on hotel.member_id = member.id
        INNER JOIN reservation on room.id = reservation.room_id
        WHERE member.id = #{member_id};
    </select>

    <select id="selectOne" resultType="reservationDTO" parameterType="int">
        SELECT * FROM reservation
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="reservationDTO">
        UPDATE reservation
        SET check_in = #{checkIn}, check_out = #{checkOut}, confirmed = #{confirmed}, status = #{status}
        WHERE id = #{id}
    </update>
    <update id="confirm" parameterType="reservationDTO">
        UPDATE reservation
        SET check_in = #{checkIn}, check_out = #{checkOut}, confirmed = #{confirmed}, status = #{status}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM reservation
        WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="reservationDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reservation(check_in, check_out, room_id, member_id)
        VALUES(#{checkIn}, #{checkOut}, #{roomId}, #{memberId})
    </insert>
</mapper>