<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.RoomMapper">
    <insert id="insert" parameterType="roomDTO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO room (limit_people, type, hotel_id)
        values(#{limitPeople}, #{type}, #{hotelId})
    </insert>
    <select id="selectByHotel" parameterType="int" resultType="synthesisDTO">
        SELECT * FROM room
        INNER JOIN hotel
        ON hotel.id= room.hotel_id
        INNER JOIN price
        ON room.id= price.room_id
        INNER JOIN room_description
        ON room.id= room_description.room_id
        WHERE room.hotel_id= #{id}
    </select>
    <select id="selectByHotelForSearch" parameterType="searchConditionDTO" resultType="synthesisDTO">
        select * from room
        INNER JOIN price
        ON room.id= price.room_id
        where  hotel_id=#{hotelId} and limit_people>=#{people} and id not  in(
            select room_id from search_view
            where #{checkinDate} &lt; check_out
                or ( #{checkinDate} &lt; check_in and #{checkoutDate} > check_out )
                or #{checkoutDate} &gt; check_out
                or ( #{checkinDate} &gt; check_in and #{checkoutDate} &lt; check_out )
            group by room_id
        )
        ;
    </select>
    <select id="select" resultType="synthesisDTO" parameterType="int">
        SELECT * FROM room
        INNER JOIN room_description
        ON room.id= room_description.room_id
        INNER JOIN price
        ON room.id= price.room_id
        WHERE room.id=#{id}
    </select>
    <update id="update" parameterType="roomDTO">
        UPDATE room SET
        limit_people=#{limitPeople}, type= #{type}
        WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM room
        WHERE id=#{id}
    </delete>
</mapper>